.userImage{
    padding: 0 10px 0 10px;
}
.card-custom-view{
    height: 100% !important;
}
li{
    list-style-type: none;
    width: 33%;
    display: inline-block;
    line-height: 1.8em;
    font-size: 16px;
}