<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>Most Popular Cities</h2>
            <ul>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">New York, NY</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Los Angeles, CA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Chicago, IL</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Houston, TX</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Phoenix, AZ</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Philadelphia, PA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">San Antonio, TX</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">San Diego, CA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Dallas, TX</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">San Jose, CA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Austin, TX</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Jacksonville, FL</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">San Francisco, CA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Columbus, OH</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Indianapolis, IN</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Charlotte, NC</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Seattle, WA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Denver, CO</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Washington, DC</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Boston, MA</a></li>
                <li><a href="javascript:void(0);" (click)="stateClick($event)">Detroit, MI</a></li>
            </ul>
        </div>
    
    </div>

</div>